@import "tailwindcss";

html, body{
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: black;
}

/* styles/globals.css or styles.css */
body.red-filter {
    filter: sepia(1) saturate(5) hue-rotate(-50deg);  /* Red filter like Sharingan */
    animation: laggy 1s infinite;
  }
  
@keyframes laggy {
  0% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(-10px) translateY(10px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

